@charset "utf-8";

a:hover, a:active, a:focus {
  outline: 0;
}

header {
	padding: 10px 30px;
	background-color: #0d2748;
	overflow: hidden;
	white-space: nowrap;
}

header #logo {
	width: 200px;
	height: 2.5rem;
	display: inline-block;
}

header #logo a {
	width: inherit;
	height: inherit;
}

header #logo #logo-content {
	width: inherit;
	height: inherit;
	background-image: url(../images/logo-white.png);
	background-repeat: no-repeat;
	background-size: 200px;
	background-position-y: 3px;
}

header ul#gnb {
	list-style: none;
	margin: 10px 0 0 40px;
	padding: 0;
}

header ul#gnb li {
	margin: 0 13px;
	padding: 0;
	float: left;
}

header ul#gnb li a {
	text-decoration: none;
	font-size: 14px;
	color: #bbb;
}

header ul#gnb li a:hover {
  color: #ddd;
}

header ul#gnb li a.selected {
	color: white
}
header #propic a {
	text-decoration: none;
	font-size: 14px;
	color: white;
}

header .user_profile {
	width: 40px;
	height: 40px;
	background-size: cover;
	border-radius: 50px;
	margin-right: -10px;
}

header .login_phbox {
	width: 40px;
	height: 40px;
	background: url(http://stylus-lang.com/img/octocat.svg);
	background-color: white;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 2000000px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	margin-right: -10px;
}

header .login_phtext {
	position: absolute;
	margin: -28px -1px;
	background: rgba(13, 39, 72, 1);
}

.fl {
	float: left;
}

.fr {
	float: right;
}

section#content{
	height: 100%;
}

menu {
	padding: 0;
	margin: 0;
}