@charset "utf-8";

testing-page .notice{
	display: -webkit-box;
	padding: 10px 10px 10px 15px;
	color: white;
}

testing-page .notice.red { background-color: lightcoral }
testing-page .notice.blue { background-color: #25a3f1}

testing-page .container,
testing-page section#input, testing-page section#output, testing-page section#debug {
	background: #eee;
}

testing-page .header {
	padding: 15px 20px 0px;
	border-bottom: 1px solid #ddd;
	background: white;
}

testing-page .body {
	padding: 15px;
}

testing-page h3 {
	margin: 20px 0 7px;
	padding: 0 0 4px;
	border-bottom: 1px #aaa solid;
	font-weight: 200;
	-webkit-user-select: none;
}

testing-page pre{margin: 0; padding: 0}


testing-page section.info {
	margin-bottom: 1rem;
	display:inline-block;
}


testing-page section.info > span {
	display: block;
}

testing-page section.info h2 {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	font-weight: 600;
	color: #123765;
}

testing-page section.info .details {
	font-size: 0.75rem;
}

testing-page section.buttons {
	display: initial;
	float: right;
}

testing-page section.buttons .share {
	border-right: 5px solid #eee;
	background-color: #0a9bff;
}

testing-page section.buttons .share:hover{
	background-color: #45b3ff
}

testing-page section.buttons .share:active{
	background-color: #017fd6;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #9a9a9a;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}
::-webkit-scrollbar-thumb:active {
  background: #777777;
}
::-webkit-scrollbar-track {
	background: #e0e0e0;
	border: 0px none transparent;
	border-radius: 0px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

testing-page section.buttons button {
	background-color: #123765; /* Green */
	border: none;
	color: white;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	float: right;
	outline: none;
}
testing-page section.buttons button:hover {
	background-color: #1b4982;
	box-shadow: none;
}
testing-page section.buttons button:active {
	background-color: #0d2748;
}

testing-page section#test-set,
testing-page section#result-set {
	margin: 2px 8px 1px 1px;
}

testing-page section > textarea{
	width: 100%;
	height: 120px;
	resize: none;
	font-size: .8em;
}

testing-page section title {
	margin: 15px 0 0px 18px;
	color: #555;
	font-size: 26px;
	font-weight: 300;
	border-bottom: 0;
	display: block;
}

testing-page content {
	background: white;
	display: block;
}

testing-page #property table {
	width: 100%;
	border: none;
	outline: none;
}

testing-page #property td.key {
	width: 100px;
	text-align: right;
	margin-right: 15px;
	padding: 2px 15px 2px 2px;
}

testing-page #property td.value {
	width: 100%;
}

testing-page #properties td {
	padding: 4px 10px 4px 10px !important;
}

testing-page #property .CodeMirror {
	background: transparent;
	border-bottom: 1px solid #aaa;
	padding: 0px;
}

testing-page #property .CodeMirror pre {
	/*padding: 0px;*/
}

testing-page #properties {
	border-collapse: collapse;
	table-layout: fixed;
	overflow-x: none;
	width: 100%;
}

testing-page #properties tr:nth-of-type(2n+1) > * {
	background: #f5f5f5;
}

testing-page #properties th,
testing-page #properties td {
	width: 50%;
	padding: 0.25rem 1rem;
	font-weight: 200;
}

testing-page #properties th {
	text-align: right;
	vertical-align: top;
	border-right: 2px solid #11b9b9;
	width: 150px;
}

testing-page #properties th span {
  display: inline-block;
	text-overflow: ellipsis;
	width: calc(100% - 25px);
	overflow: hidden;
	/* margin-right: 100px; */
	white-space: nowrap;
	float: left;
}

testing-page #properties th span:before {
	content: '';
	display: inline-block;
}

testing-page #properties th span.required:before {
	content: '*';
	color: red;
	margin-right: 0.5rem;
}

testing-page #properties th a.help {
	display: inline-block;
	margin-left: 0.2rem;
	width: 1rem;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	text-decoration: none;
	color: white;
	background-color: deepskyblue;
	border-radius: 100px;
}

testing-page #properties td .example {
	display: block;
	font-size: 12px;
	opacity: 0.8;
}

testing-page #properties textarea {
	width: 100%;
	resize: none;
	height: 1rem;
}

testing-page #result-table th {
	background: #00af86;
	color: white;
	width: 80px;
}

testing-page #result-table td {
	border: 1px solid #aaa;
}

testing-page [data-tooltip-text]:hover {
	position: relative;
	cursor: help;
}

testing-page [data-tooltip-text]:after {
	-webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

	background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
  color: #FFFFFF;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 7px 12px;
	position: absolute;
	min-width: 200px;
	word-wrap: break-word;

	z-index: 9999;

	opacity: 0;
	left: -9999px;
  top: 90%;
	
	content: attr(data-tooltip-text);
}

testing-page [data-tooltip-text]:hover:after {
	top: 130%;
	left: 0;
	opacity: 1;
}

table.result-table {
	width: 100%;
	border: none;
	outline: none;
	font-size: 15px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: white;
}

.result-table tr th {
	text-align: center;
	border-bottom: 2px solid #11b9b9;
	background-color: #c6eaea !important;
	color: #004848;
	font-weight: bold;
	padding: 4px 7px;
}

.result-table td, .result-table pre {
	line-height: 1.5;
	font-size: 15px;
	font-family: monospace;
	white-space: nowrap;
}

.result-table pre {
	white-space: pre;
	text-align: left;
}

.result-table td.group-data {
	text-align: center;
	border-right: 1px solid #ddd;
}
.result-table tr td.group-data > div {
	min-width: 90px;
	padding: 4px 25px;
	white-space: pre;
}

.result-table tr:nth-of-type(2n+1) > * {
	background: #f5f5f5;
}

.result-table td.space > div {
	min-width: 180px;
	margin-left: -180px;
	width: auto;
	padding: 4px 25px;
}

.result-table td.group-data-null {
	text-align: center;
	font-style: italic;
	color: #777;
}

.result-table td.line-number {
	width: 44px;
	min-width: 44px;
	text-align: right;
	border-right: 2px solid #11b9b9;
	-webkit-user-select: none;
	cursor: default;
	color: #999;
	background: #f7f7f7;
	padding: 2px 8px 2px 2px;
}

.result-table .bool-true {
	background: #11b9b9 !important;
  color: white !important;
}

.overflow-x-auto {
	overflow-x: auto;
}

#foot-area {
	margin-top: 20px;
	margin-bottom: 5px;
}


#share-btn button {
	background-color: #005eaf;
	border: none;
	color: white;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	float: left;
	outline: none;
}
#share-btn button:hover {
	background-color: #037be2;
	box-shadow: none;
}
#share-btn button:active {
	background-color: #044d8c;
}

.disable-btn button {
	background: #aaa !important;
	pointer-events: none;
}

.share-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(123, 123, 123, 0.6);
	z-index: 999;
	display: none;
}

.share-box.show {
	display: block;
}

.share-box content {
	display: block;
    position: relative;
    width: 420px;
    color: white;
	top: calc(50% - 170px);
	margin: auto;
    z-index: 100;
}

.share-box form {
	background: #252526;
    box-shadow: 0 2px 8px #000;
    padding: 1em;
    width: 420px;
}

.share-box h2 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.8em;
}

.share-box h3 {
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

.share-box textarea {
    width: 98.6%;
    resize: none;
    height: 2.5em;
    font-size: 1em;
		border: 0px;
		padding: 5px;
}

.share-box input {
		width: 98.6%;
		height: 1em;
		font-size: 1em;
		border: 0px;
		padding: 5px;
		outline: 0px;
}

.share-box button {
    background-color: #123765;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
}

.share-box .buttons {
	margin-top: 20px;
	text-align: center;
}