@charset "utf-8";

panel > section {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 310px;
  height: 100%;
  box-sizing: border-box;
  float: right;
}

panel > .right {
  right: -310px;
}

panel > .show {
  right: 0px;
  top: 62px;
      z-index: 3;
}

.history {
  width: 310px;
  height: calc(100% - 62px);
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.85);
}

.history-box {
	border-bottom: 1px solid #aaa;
	width: 280px;
	padding: 13px 13px 30px;
	font-size: 14px;
}

.history-box:hover {
  background: rgba(238, 238, 238, 0.85);
  cursor: pointer;
}

.history-box .properties {
  list-style: none;
  margin: 0;
  padding: 0;
  /*margin-top: 16px;*/
  font-size: 13px;
  text-overflow: ellipsis;
  width: 80px !important;
}

.history-box .properties span {
  border-bottom: 1px solid #ccc;
  padding: 2px 3px;
  overflow: hidden;
}

.history-box .properties span.key {
  display: inline-block;
  color: #444;
  margin-right: 4px;
}

.history-box .last {
  padding-top: 3px;
}

.history-box .created {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}