<!doctype html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>regular.express tester</title>
	<link rel="stylesheet/less" type="text/css" href="styles.less" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>

	<!-- codemirror -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/addon/hint/show-hint.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/addon/hint/show-hint.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/addon/hint/xml-hint.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/addon/lint/html-lint.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/xml/xml.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/javascript/javascript.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/css/css.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/htmlmixed/htmlmixed.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/addon/selection/active-line.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/addon/edit/matchbrackets.min.js"></script>
	<link rel="stylesheet" href="http://esironal.github.io/cmtouch/theme/neonsyntax.css">
	<style type="text/css">
			.CodeMirror {
			line-height: 1.5;
			font-size: 15px;
			width: 100%;
			height: 100%;
		}
		
		.CodeMirror-gutters {
			width: 100px;
			border-right: 2px solid #11b9b9;
		}
		
		.CodeMirror-linenumber.CodeMirror-gutter-elt {
			width: 40px !important;
			text-align: right;
	</style>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/layout.css">

	<link rel="stylesheet" href="css/view_tester.css">
	<link rel="stylesheet" href="css/template_testing.css">
	<link rel="stylesheet" href="css/template_history.css">


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>

	<script type="text/javascript" src="js/site.js"></script>
	<script type="text/javascript" src="js/docker.js"></script>
	<script type="text/javascript" src="js/factories.js"></script>
</head>

<body>
	<header>
		<div id="logo" class="fl">
			<a href="index.html#/">
				<div id="logo-content"></div>
			</a>
		</div>
		<ul id="gnb" class="fl clearfix">
			<li>
				<a href="index.html#/" ng:class="currentRoute.name == 'tester' && 'selected'" title="TEST REGEX">TEST REGEX</a>
			</li>
			<li>
				<!--<a href="index.html#/history" ng:class="currentRoute.name == 'history' && 'selected'" title="HISTORY">HISTORY</a>-->
				<a href="javascript:void(0)" title="HISTORY" ng-click="showHistory($event)">HISTORY</a>
			</li>
			<li>
				<a href="javascript:void(0)" ng-click="openBrowser('http://regular.express')">OFFICIAL PAGE</a>
			</li>
		</ul>
		<div id="propic" class="fr">
			<a href="javascript:void(0)" ng-click="actLogin($event)">LOGIN</a>
			<!--<a href="javascript:void(0)" ng-click="showHistory($event)">HISTORY</a>-->
		</div>
		<!--
		<nav id="gnb">
			<a href="index.html#/" class="nav-item" ng:class="currentRoute.name == 'tester' && 'nav-select'" title="Test Regex">Test Regex</a>
			<a href="index.html#/history" class="nav-item" ng:class="currentRoute.name == 'history' && 'nav-select'" title="History">History</a>
			<a ng-click="openBrowser('http://regular.express')" class="nav-item" title="WebPage">Official Website</a>
		</nav>
		//-->
	</header>

	<menu visible="rightVisible" alignment="right">
		<menu-item hash="first-page">First Page</menu-item>
		<menu-item hash="second-page">Second Page</menu-item>
		<menu-item hash="third-page">Third Page</menu-item>
	</menu>
	<section id="content" ng-view></section>
</body>

</html>