body {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

textarea {
  outline: none;
}

textarea:active {
  outline: blue;
}

#env-info {
  margin-bottom: 1rem;
  display:inline-block;
}

#env-info > span {
  display: block;
}

#env-info .title {
  font-size: 1.5rem;
  font-weight: 200;
}

#env-info .details {
  font-size: 0.75rem;
}

#test-btn {
  display: initial;
}

#test-btn button {
  background-color: #00af86; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  outline: none;
}
#test-btn button:hover {
  background-color: #00ca9b;
  box-shadow: none;
}
#test-btn button:active {
  background-color: #009270;
}

.disable-btn button {
  background: #aaa !important;
  pointer-events: none;
}

#property-list {
  border-collapse: collapse;
  width: 100%;
}

#property-list tr:nth-of-type(2n+1) > * {
  background: #f5f5f5;
}

#property-list th,
#property-list td {
  width: 50%;
  padding: 0.25rem 1rem;
  font-weight: 200;
}

#property-list th {
	text-align: right;
  vertical-align: top;
  border-right: 2px solid #d0d0d0;
}

#property-list th span:before {
  content: '';
  display: inline-block;
}

#property-list th span.required:before {
	content: '*';
  color: red;
  margin-right: 0.5rem;
}

#property-list th a.help {
  display: inline-block;
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  text-decoration: none;
  color: white;
  background-color: deepskyblue;
  border-radius: 100px;
}

#property-list td span.example {
  display: block;
  font-size: 0.75rem;
  opacity: 0.8;
}

#property-list textarea {
  width: 100%;
  resize: none;
}

#label-item {
  margin: 20px 0 7px;
  padding: 0 0 4px;
  border-bottom: 1px #aaa solid;
  font-weight: 200;
  -webkit-user-select: none;
}

#test-set, #result-set {
  margin: 2px 8px 1px 1px;
}

#test-set textarea, #result-set textarea {
  width: 100%;
  height: 120px;
  resize: none;
  font-size: .8em;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

/* #################################### */

._header {
  padding: 10px 15px;
  background-color: #00af86;
  overflow: hidden;
  white-space: nowrap;
}

._header #logo {
  width: 200px;
  height: 2.5rem;
  display: inline-block;
}

#logo a {
  width: inherit;
  height: inherit;
}

#logo_content {
  width: inherit;
  height: inherit;
  background-image: url(./images/logo-white.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position-y: 3px;
}

._navbar {
  overflow: hidden;
  height: 32px;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 100;
  padding: 0px 2px 2px 3px;
}

.nav-item {
  color: #ffffff;
  margin-left: 25px;
}

.nav-select {
  border-bottom: 1px #fff solid;
}

._sidebar {
  width: 300px;
  height: 100%;
  background: aliceblue;
  float: left;
  height: calc(100% - 66px);
  overflow: auto;
}

._sidebar form {
  padding: 10px;
}

._sidebar input {
  width: 100%;
  font-size: 1rem;
}

._sidebar #sidebar-navi a {
  padding: 8px 0px 8px 10px;
  display: block;
  color: black;
  overflow: hidden;
  white-space: nowrap;
}

#wrapper {
  padding: 15px;
  height: 100%;
}

._container {
  overflow: auto;
  height: calc(100% - 70px);
}

._sidebar .item-focus {
  background: #ddd;
}

._sidebar .item-select {
  background: #00af86;
  color: white !important;
}

.notice_red {
  display: -webkit-box;
  background: lightcoral;
  padding: 10px 10px 10px 15px;
  color: white;
}

.notice_blue {
  display: -webkit-box;
  background: #25a3f1;
  padding: 10px 10px 10px 15px;
  color: white;
}

.sub-list a {
  padding-left: 30px !important;
}