<!-- pseudo design -->
<section class="history" ng-class='{ show: visible, left: alignment === "left", right: alignment === "right" }'>
  <div class="history-box" ng-repeat="item in historyContent track by $index">
    <content ng-click="loadEnv(item)">
      <ul class="properties">
        <li>
          <span class="key">Environment</span>
          <span class="value">{{ item.displayName }}</span>
        </li>
        <li ng-repeat="(key, val) in item.result.properties">
          <span class="key">{{ key }}</span>
          <span class="value">{{ val }}</span>
        </li>
      </ul>
      <div class="last clearfix">

        <div class="created fr">
          {{ item.result.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}
        </div>
      </div>
    </content>
  </div>
</section>