<pre ng-show="notice" class="notice {{ notice.color }}">{{ notice.text }}</pre>

<div class="container">
	<div class="header">
		<section class="info">
			<h2>{{ selectedEnv.info.title }}</h2>
			<span class="description">{{ selectedEnv.info.description }}</span>
			<span class="details">
				<span>By {{ selectedEnv.info.author }}</span> |
				<span>Version: {{ selectedEnv.info.version }}</span> |
				<span>Image: {{ selectedEnv.info.docker_image }}</span>
			</span>
		</section>
		<section class="buttons">
			<button ng-click="testForm()">Test</button>
			<button ng-click="resetForm()">Reset</button>
		</section>
	</div>
	<section id="property">
		<title>properties</title>
		<content>
			<!--<table>
				<tr ng-repeat="property in selectedEnv.info.properties">
					<td class="key">{{ property.name }}
					</td>
					<td class="value">{{ property.example }}
					</td>
				</tr>
			</table>-->
			<table id="properties">
				<input type="hidden" value="extractor" data-name="test_type">

				<tr ng-repeat="property in selectedEnv.info.properties" ng-show="property.type != 'hidden'">
					<th>
						<span ng:class="property.required && 'required'" title="{{ property.name }}">{{ property.name }}</span>
						<a class="help" data-tooltip-text="{{ property.help }}">?</a>
					</th>
					<td>
						<div ng-switch on="property.type">
							
							<code-mirror ng-switch-when="string" ng-model="propertyInput[property.name]" container="property_value[property.name]" theme='tomorrow-night-eighties' line-numbers="false"></code-mirror>

							<!--<textarea ng-switch-when="string" ng-model="propertyInput[property.name]"></textarea>-->
							<input  ng-switch-when="number"  type="number"   ng-model="propertyInput[property.name]">
							<input  ng-switch-when="boolean" type="checkbox" ng-model="propertyInput[property.name]"></textarea>
							<select ng-switch-when="list" ng-model="propertyInput[property.name]" ng-option="property.list"></select>
						</div>

						<pre ng-show="property.type == 'string' || property.type == 'number'" class="example">example: {{ property.example }}</pre>
					</td>
				</tr>
			</table>
		</content>
	</section>
	<section id="input">
		<title>input</title>
		<content>
			<code-mirror container="inputText" theme='tomorrow-night-eighties' line-numbers="true"></code-mirror>
		</content>
	</section>
	<section id="result">
		<title>result</title>
		<content>
			<table id="result-table">
				<tr>
					<th>&nbsp;</th>
					<th class="result-column" ng-repeat="columns in jsonResultSet.columns">
						{{ columns }}
					</th>
				</tr>
				<tr ng-repeat="resultSet in jsonResultSet.resultList track by $index" ng-rowspan="resultList.list.length" ng-show="!(jsonResultSet.resultList.length == 1 && jsonResultSet.resultList[0] == null)">
						<td>
							{{ $index + 1 }}
						</td>
						<td ng-repeat="res in resultSet.list[0] track by $index">
						{{ res }}
						</td>
				</tr>
			</table>
		</content>
	</section>
	<section id="output">
		<title>output</title>
		<content>
			<code-mirror container="outputText" theme='tomorrow-night-eighties' line-numbers="true"></code-mirror>
		</content>
	</section>
	<section id="debug">
		<title>debug</title>
		<content>
			<code-mirror container="debugText" theme='tomorrow-night-eighties' line-wrapping="false" read-only="true" line-numbers="true"></code-mirror>
		</content>
	</section>
	<div id="foot-area"></div>
</div>
